# Mendapatkan semua image path

In [1]:
from glob import glob

In [3]:
fname = glob("/kaggle/input/number-image/data/*/*.png") # kita ganti nama folder dan file dengan bintang (*) dan glob akan otomatis men-detect
fname[:10]

['/kaggle/input/number-image/data/7/173.png',
 '/kaggle/input/number-image/data/7/94.png',
 '/kaggle/input/number-image/data/7/48.png',
 '/kaggle/input/number-image/data/7/61.png',
 '/kaggle/input/number-image/data/7/37.png',
 '/kaggle/input/number-image/data/7/148.png',
 '/kaggle/input/number-image/data/7/35.png',
 '/kaggle/input/number-image/data/7/177.png',
 '/kaggle/input/number-image/data/7/142.png',
 '/kaggle/input/number-image/data/7/104.png']

# X = Path -> Image -> Flatten

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
X = np.array([plt.imread(f).flatten() for f in fname])
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [6]:
X.shape

(2000, 784)

# y = Path -> Split -> ambil index [5]

['/kaggle/input/number-image/data/7/173.png',
 '/kaggle/input/number-image/data/7/94.png',
 '/kaggle/input/number-image/data/7/48.png',
 '/kaggle/input/number-image/data/7/61.png',
 '/kaggle/input/number-image/data/7/37.png',
 '/kaggle/input/number-image/data/7/148.png',
 '/kaggle/input/number-image/data/7/35.png',
 '/kaggle/input/number-image/data/7/177.png',
 '/kaggle/input/number-image/data/7/142.png',
 '/kaggle/input/number-image/data/7/104.png']
 
 ### Nama class terdapat pada index ke 5

In [9]:
y = np.array([int(f.split("/")[5]) for f in fname])
y

array([7, 7, 7, ..., 6, 6, 6])

In [10]:
y.shape

(2000,)

# Join sebagai 1 dataframe lalu save as csv

In [11]:
df = pd.DataFrame(X, columns=range(1, 785))
df.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df['label'] = y
df.head()

,1,2,3,4,5,6,7,8,9,10,...,776,777,778,779,780,781,782,783,784,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7

# Save to CSV

In [13]:
df.to_csv('metadata_exercise.csv', index=None)